<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

    {% block navBar %}

        <div class="topnav">
            <input class="search" type="text" placeholder="Search..">
        </div>
        <div class="wrapper">
            <header>
                <nav>
                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo"><img style="width: 20%" src="img/ccmlogoBN.png"></div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Autores</a></li>
                            <li><a href="#">Usuario</a></li>
                            <li><a href="#">Ayuda</a></li>

                        </ul>
                    </div>
                </nav>
            </header>
        </div>


    {% endblock %}

    {% block header %}

    {% endblock %}




    {% block body %}{% endblock %}


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="{{ asset('js/nav.js') }}" ></script>
        {% endblock %}
    </body>
</html>
