{% extends 'base.html.twig' %}


  {% block stylesheets %}
      {{ parent() }}
      <link rel="stylesheet" href="{{ asset('css/busquedaAv.css') }}"/>


  {% endblock %}

{% block body %}

    <section id="busquedaAv" class="container">
        <div class="container-fluid   mb-5  ">
            <div class="row  justify-content-md-start ">
                <div class="hero2-text mt-lg-5 col-lg-8 col-md-10 " >
                    <h1>Unidad de Documentación</h1>
                    <h2>Sistema de Referencias Bibliográficas</h2>
                </div>
            </div>

            <div class="row">
                <form class="  mt-5 input-group input-group-lg mt-lg-5 col-8  offset-md-2 " action="../search2" method="get">
                    <input type="search" required class="form-control search" name="q" placeholder="Búsqueda" autocomplete="off" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" value="Search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            <div class="container">
                <h3 class="p-1 text-center"><i class="fas fa-times"></i> {{ message }}</h3>
            </div>
        </div>
    {% endfor %}

{% endblock %}