
.formulario{
    min-height: 800px;
    margin-top: 8%;
}

#box1{
    border: 0px solid rgba(188, 188, 188, 0.87);
    background-color: #eeeeee;
    border-radius: 20px;
}



.etiqueta{
    font-size: .950rem ;
    color: #1e1e1e;
}
.etiqueta2{
    color: #606f7b;
    font-size: 1rem;
    margin-left: 3%;

}
@media (min-width: 576px){
    .container {
        width: 50%;
    }
}