html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 15px;
}



header {
    width: 100%;
    height: 70vh;
    border-bottom-left-radius: 200px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


/********************Index Referencia*******************/
.contain{
    margin-left: 17%;
    width: 71.5%;

}


/*Search input*/

input {
    outline: none;

}

input[type=search] {
    font-family: inherit;
    font-size: 115%;
}


input[type=search] {
    background: #e0e0e0 url(/img/icon.png) no-repeat 95% 50%;
    border: solid 1px #ccc;
    padding: 9px 8px 9px 20px;
    width: 230px;
    border-radius: 2em;
    transition: all .5s;
}

input[type=search]:focus {
    background: white url(/img/iconf.png) no-repeat 95% 50%;
    border-color: #42a5f5;
}

input:-moz-placeholder {
    color: #424242;
}
input::-webkit-input-placeholder {
    color: #424242;
}

.card .card-header p {
    font-size: 16px;
    margin-top: 6px;
    display: block;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card h2 {
    display: inline-block;
}


.card button:active {
    background: white url(/img/iconf.png) no-repeat;

}


.radios {
    width: 40%;
    margin-left: 30%;
}




/********************Show Referencia*******************/

.referencia-container h3 {
    margin-bottom: .8rem;
}

.referencia-container p {
    margin-bottom: .2rem;
    font-size: 1.1rem;
}

.referencia-container .small, small {
    font-size: 60%;
    font-weight: 400;
    color: #868686;
}

.block p {
    margin: 2px 0px 2px 0px;
}

.block {

    margin: 25px 0px 25px 0px;
}
