


/********************Show Referencia*******************/

.referencia-container h3 {
    margin-bottom: .8rem;
}

.referencia-container p {
    margin-bottom: .2rem;
    font-size: 1.1rem;
}

.referencia-container .small, small {
    font-size: 60%;
    font-weight: 400;
    color: #868686;
}

.block p {
    margin: 2px 0px 2px 0px;
}

.block {

    margin: 25px 0px 25px 0px;
}

.myTab{
    padding: 50px 0px 50px 0px;
    min-height: 694px;
}

@media (min-width: 767px){
    #box1 {
        border: 2px solid rgba(188, 188, 188, 0.87);
        width: 100%;
        background-color: #ffffff;
        border-radius: 20px;
        margin-bottom: 35px;
    }
}